a {
    text-decoration: none; 
    color: black;
}

a:visited {
    text-decoration: none; 
    color: midnightblue;
} 

a:active { 
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: grey;
} 

